.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    /* text-align: center; */
}
h1 {
    font-size: 2.5em;
    color: #0056b3;
}
p {
    font-size: 1.2em;
    margin: 20px 0;
}
.features {
    list-style-type: none;
    padding: 0;
}
.features li {
    font-size: 1.2em;
    margin: 10px 0;
}
.highlight {
    font-weight: bold;
    color: #007bff;
}
.cta {
    background-color: #2865a7;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
}
.cta:hover {
    background-color: #218838;
}